version: '3.8'

services:
  core-backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: coreBackend
    network_mode: "host"
    environment:
      - SPRING_DATA_REDIS_HOST=${REDIS_HOST:-172.31.250.176}
      - SPRING_DATA_REDIS_PORT=${REDIS_PORT:-6379}

      # Kafka
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=${KAFKA_HOST:-172.31.249.132:9092}
      - SPRING_KAFKA_PRODUCER_KEY_SERIALIZER=org.apache.kafka.common.serialization.StringSerializer
      - SPRING_KAFKA_PRODUCER_VALUE_SERIALIZER=org.springframework.kafka.support.serializer.JsonSerializer

      # MQTT
      - MQTT_BROKER_URL=${MQTT_BROKER_URL:-tcp://172.31.253.240:1883}
      - MQTT_CLIENT_ID=core-backend
      - MQTT_TOPIC_SCAN=iot/entrance/badge/scan
      - MQTT_TOPIC_COMMAND=iot/entrance/lock/command

      # Kafka Topics
      - KAFKA_TOPIC_ENTRANCE=entrance-logs
      - KAFKA_TOPIC_ATTEMPT=attempt-logs

    restart: unless-stopped
