version: "3.9"

services:
  mosquitto:
    imdage: eclipse-mosquitto:latest
    container_name: mqtt-broker
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
      
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: paaspassword
      POSTGRES_DB: Paas-TP1
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  spring-app:
    build: .
    restart: on-failure
    environment:
      SPRING_PROFILES_ACTIVE: cache-loader
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/Paas-TP1
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: paaspassword
    ports:
      - "8083:8083"
    depends_on:
      - postgres

volumes:
  pgdata:
  mosquitto_data:
  mosquitto_log:
