server:
  port: 9090

spring:
  application:
    name: worker replication

  datasource:
    url: jdbc:postgresql://172.31.252.129:5432/Paas-TP1
    username: admin
    password: paaspassword
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: 172.31.250.176
      port: 6379