version: "3.8"

services:
  nginx:
    image: nginx:latest
    container_name: reverse-proxy
    volumes:
      - ./nginx/cockpit-front.conf:/etc/nginx/nginx.conf:ro   # récupère le fichier pour le mettre dans le conteneur en read-only
    ports:
      - "8081:8081"       
    restart: unless-stopped                                   